__pycache__/__init__.cpython-38.pyc
__pycache__/__init__.cpython-39.pyc
__pycache__/MLPClassifier_dialog.cpython-38.pyc
__pycache__/MLPClassifier.cpython-38.pyc
__pycache__/resources.cpython-38.pyc
__pycache__/resources.cpython-39.pyc
__pycache__/SegundoPlugin_dialog.cpython-38.pyc
__pycache__/SegundoPlugin_dialog.cpython-39.pyc
__pycache__/SegundoPlugin.cpython-38.pyc
__pycache__/SegundoPlugin.cpython-39.pyc
